[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
sphinx = "*"
"psycopg2" = "*"
gunicorn = "*"
flask-restful = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
marshmallow = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
