[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sphinx = "==2.0.1"
sphinxcontrib-httpdomain = ">=1.7.0"
click = ">=7.0"
flask = ">=1.0.2"
flask-sqlalchemy = ">=2.3.2"
flask-migrate = ">=2.4.0"
"psycopg2" = ">=2.8.2"
gunicorn = ">=19.9.0"
flask-restful = ">=0.3.7"
flask-marshmallow = ">=0.10.0"
marshmallow-sqlalchemy = ">=0.16.2"
marshmallow = ">=2.19.2"
flask-uploads = ">=0.2.1"
flask-praetorian = ">=0.5.3"
flask-cors = ">=3.0.7"
sphinx-autodoc-typehints = ">=1.6.0"
guzzle-sphinx-theme = ">=0.7.11"
sphinxcontrib-autoprogram = ">=0.1.5"
coloredlogs = ">=10.0"
gitpython = ">=2.1.11"
requests = ">=2.21.0"
pyyaml = ">=5.1"
terminaltables = ">=3.1.0"
ago = ">=0.0.93"
python-dateutil = ">=2.8.0"
sphinx-autobuild = ">=0.7.1"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
